nav {
   display: flex;
   justify-content: space-between;
   position: absolute;
   z-index: 120;
   width: 100%;
   height: 100px;
   position: fixed;
   padding: 1rem;
   transition: all 0.5s ease-in;
}

.nav__logo {
   width: 100px;
   margin-left: 3rem;
   cursor: pointer;
}

.nav__avatar {
   height: 55px;
   cursor: pointer;
   margin-right: 30px;
}

.nav__black {
   background-color: #111;
}

/* Mobile responsivness */

@media only screen and (max-width: 400px) {
   nav {
      padding: 0.5rem;
      height: 50px;
   }

   .nav__logo {
      margin-left: 10px;
   }

   .nav__avatar {
      height: 30px;
      margin-right: 0px;
   }
}
