@import url("https://fonts.googleapis.com/css2?family=Roboto");

* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   font-family: "Roboto", sans-serif;
   list-style: none;
   overflow-x: hidden;
}

:root {
   --primary-red: #dd0611;
   --form-background-dark: #333333;
}

body {
   background-color: #141414;
}

/* Reusable styling */

.header {
   width: 100%;
   height: 100px;
   position: absolute;
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding-right: 100px;
   margin-left: 40px;
}

.top-logo {
   display: flex;
   z-index: 100;
   width: 210px;
   top: 0;
   left: 0;
}

.overlay {
   position: absolute;
   background-color: rgba(0, 0, 0, 0.7);
   width: 100%;
   height: 100%;
   top: 0;
   right: 0;
   z-index: 1;
}

/* Forms */

.form-center {
   display: flex;
   flex-direction: column;
   position: relative;
   width: 500px;
   height: 700px;
   background-color: rgba(0, 0, 0, 0.7);
   padding: 60px 68px 40px;
   color: white;
   margin: 0 auto;
   z-index: 100;
   margin-bottom: 90px;
   top: 50%;
   transform: translateY(-50%);
}

.form-center h1 {
   margin-bottom: 30px;
   font-size: 2.5rem;
}

.form-center input {
   padding: 16px 20px;
   background-color: var(--form-background-dark);
   color: white;
   border: none;
   border-radius: 5px;
   font-size: 1rem;
}

.form-center input:not(:last-child) {
   margin-bottom: 20px;
}

.form-center .btn {
   width: 100%;
   font-weight: 600;
   font-size: 1.1rem;
   margin-bottom: 30px;
}

.form-center p,
.form-center b {
   color: white;
   margin-bottom: 10px;
}

.form-center a {
   color: white;
   text-decoration: none;
}

/* End of Forms */

/*  Button Styling */

.btn-white {
   border: none;
   background-color: white;
   padding: 12px 20px;
   border-radius: 5px;
   font-size: 1.4rem;
}

.btn-grey {
   border: none;
   background-color: grey;
   color: white;
   padding: 12px 20px;
   border-radius: 5px;
   font-size: 1.4rem;
}

/* End of Button styling */

.glider,
#dots,
.glider-prev,
.glider-next {
   z-index: 100;
}
